---
import contributors from '../../data/contributors.json';
import Layout from '../../layouts/Layout.astro';
import { getAchievements } from '../../util/getAchievements';
import { getStats } from '../../util/getStats';

export function getStaticPaths() {
  return Object.keys(contributors).map((username) => ({
    params: { username },
  }));
}

const { username } = Astro.params;
const contributor = contributors[username]
const achievements = getAchievements(contributor, { exhaustive: true });
const stats = getStats(contributor);
---

<Layout title={`@${username} — Astro Achievements`}>
  <div class="prose prose-invert prose-a:text-accent-300 mx-auto">
    <h1>@{username}</h1>

    <div>
      <img src={`/v1/contributor/${username}.svg`} width="300" height="200">
    </div>

    <h2>Stats</h2>

    <div class="not-prose">
      <ul class="flex flex-wrap gap-2 md:gap-4">
        {stats.map(({type,count}) => (
          <li class="text-center p-2 bg-neutral-800 rounded-lg min-w-[6rem]">
            <h3 class="uppercase text-sm tracking-wider">{type}</h3>
            <p class="text-2xl font-black">{count}</p>
          </li>
        ))}
      </ul>
    </div>

    <h2>All Achievements</h2>
    <ol>
      {achievements.map(({ title, details }) => <li><strong>{title}</strong> {details}</li>)}
    </ol>

    <p>
      <a href="/contributors/">← Find more Astro contributors</a>
    </p>
  </div>
</Layout>
