---
import Layout from '../../layouts/Layout.astro';
import src from './_og.jpg?url';
import BadgePicker, { type Badge } from '../../components/BadgePicker.astro';
import Frame from '../../components/Frame.astro';

const title = 'Badges';
const description = '“Built with Astro” SVG badges to add to your sites and GitHub READMEs!';

const mdSnippet = ({ slug }: Badge) =>
  `[![Built with Astro](${Astro.site}v2/built-with-astro/${slug}.svg)](https://astro.build)`;
const htmlSnippet = ({ slug, width, height }: Badge) => `<a href="https://astro.build">
  <img src="${Astro.site}v2/built-with-astro/${slug}.svg" alt="Built with Astro" width="${width}" height="${height}">
</a>`;
---

<Layout
  {title}
  {description}
  ogImg={{ src, alt: 'Share your Astro pride with a “Built with Astro” badge.' }}
>
  <div class="mx-auto flex flex-col gap-6">
    <div class="flex flex-col gap-4">
      <h1 class="heading-3 text-white">Built with Astro</h1>
      <p>Add a badge to your repository or website and show off your Astro pride!</p>
    </div>

		<Frame>
			<BadgePicker aspectRatio={6} {mdSnippet} {htmlSnippet} />
		</Frame>
  </div>
</Layout>
