---
import CTA from "../components/CTA.astro";
import Frame from "../components/Frame.astro";
import Layout from "../layouts/Layout.astro";
import { contributors } from '../util/getContributors'

const sortedUsernames = contributors.map(c => c.username);

const title = 'Astro Contributors';
const description = 'Find an Astro contributor and check out their awesome work!';
const dataID = 'contributor-usernames';
---

<Layout {title} {description}>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-4">
      <h1 class="heading-3 text-white">{title}</h1>
      <div>
        <p>
          Show off your own or celebrate an Astro contributor’s achievements!
        </p>
        <p>
          Enter a GitHub username to show that user’s contributions to repositories in <a class="link-underline" href="https://github.com/withastro/">the <code>withastro</code> org</a>.
        </p>
      </div>
    </div>

    <Frame>
      <form onsubmit="return false" class="flex flex-col gap-4 sm:gap-8">
        <label for="find-contributor" class="heading-5 text-white">
          Find an Astro contributor
        </label>
        <input type="text" id="find-contributor" placeholder="GitHub username" list={dataID} autocomplete="off" class="w-full input">
      </form>

      <div class="grid gap-2 place-content-center pb-6 pt-12 rounded-lg border border-neutral-500 bg-neutral-600">
        <div id="svg-display" class="w-[300px] h-[200px] mx-auto grid place-content-center rounded bg-neutral-400 shadow-lg">
        </div>
    
        <p id="more-link" class="text-center text-accent-300 hover:-translate-y-0.5 hover:text-accent-200 motion-safe:transition-all">&nbsp;</p>
      </div>

      <div class="text-center text-neutral-200">
        <p>Astro has {Intl.NumberFormat().format(contributors.length)} contributors! 🧑‍🚀💜</p>
        <p>Data is updated once per day at midnight GMT.</p>
      </div>
    </Frame>
    
    <footer>
      <div class="">
        <CTA href="/v1/achievements/">Browse achievements →</CTA>
      </div>
    </footer>
  </div>

  <datalist id={dataID}>
    {sortedUsernames.map(username =>
    <option value={username} />)}
  </datalist>
</Layout>

<script>
  const searchBox = document.getElementById('find-contributor') as HTMLInputElement;
  const svgDisplay = document.getElementById('svg-display') as HTMLDivElement;
  const moreP = document.getElementById('more-link') as HTMLParagraphElement;

  let to: NodeJS.Timeout;

  searchBox.addEventListener('input', async () => {
    if (to) {
      clearTimeout(to);
      to = null;
    }
    svgDisplay.innerHTML = `<p>Searching…</p>`;
    moreP.innerHTML = '&nbsp;';
    to = setTimeout(async () => {
      const username = searchBox.value;
      try {
        if (!username) throw new Error('Enter a username')
        const imageSrc = new URL(`/v1/contributor/${username}.svg`, window.location.href);
        const moreHref = new URL(`/v1/contributor/${username}/`, window.location.href);
        const res = await fetch(imageSrc.href, { method: 'HEAD' });
        if (res.ok) {
          svgDisplay.innerHTML = `<img src="${imageSrc.href}">`;
          moreP.innerHTML = `<a href="${moreHref}">More about this contributor →</a>`;
        } else {
          throw new Error('Contributor not found!');
        }
      } catch (error: unknown) {
        svgDisplay.innerHTML = `<p>${error instanceof Error ? error.message : error}</p>`;
      }
    }, 200);
  });
</script>
